<h1>The cocktails in daa placeee pow pow pow</h1>

<% @cocktails.each do |cocktail| %>
    <%= cocktail.name %>

    <!-- later we want to display the doses that belong to a cocktail with the ingredient name -->
<% end %>
